/* .fullApp{
  display: flex;
}


.genral {
  margin-left: 250px; 
  padding: 20px; 
} */

/* Full screen */
.fullApp {
  display: flex;
  flex-direction: row;
}

.genral {
  flex-grow: 1;
  margin-left: 250px;
}

.right_side {
  width: 300px;
  margin-left: 20px;
}



